body {
  min-width: 960px;

  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: black;
  font-family: "PT Sans", "Arial", sans-serif;

  background-color: gray;
}

h1, h2, h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

p {
  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
}

/*НАСТРОЙКИ*/

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 768px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 15px 25px lightgrey;
}

/*НАВАИГАЦИОННОЕ МЕНЮ*/

.main-navigation ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation li{
  display: inline-block;
  vertical-align: top;
}

.main-navigation a {
  display: block;
  padding-top: 14px;
  padding-bottom: 16px;
  color: black;
  text-decoration: none;
}

.main-navigation a:hover {
  color: #81b3d2;
}

.main-navigation a:active {
  color: #cacaca;
}

.main-navigation .active a:active {
  color: #dbd8d5;
}

.main-navigation .active:hover {
  background: none;
}

.main-navigation .active-hotels {
  color: #766357;
}

.main-navigation .active-hotels:hover {
  color: #604e43;
}

.main-navigation li:first-child{
  margin-right: 57px;
}

.main-navigation li:nth-child(2) {
  margin-right: 177px;
}

.main-navigation li:nth-child(3) {
    margin-right: 75px;
}

.logo {
  position: absolute;
  width: 138px;
  height: 70px;
  top: 0;
  margin-left: 315px;
}

/*СТРАНИЦА-ВИЗИТКА*/

.sedona-landscape{
  height: 512px;
  background-image: url("../img/background_sedona.jpg");
  background-repeat: no-repeat;
}

.sedona-landscape img {
  margin-top: 76px;
  margin-left: 1px;

}
.sedona-landscape-palling {
  height: 514px;
  background-image: url("../img/paling.png");
  background-repeat: no-repeat;
  background-position: bottom;
}

.sedona-statement h1 {
  line-height: 26px;
  padding-top: 41px;
  padding-left: 100px;
  padding-right: 100px;
}

.sedona-statement p {
  padding-top: 18px;
  padding-bottom: 39px;
}

.reason-first-description-first-background {
  float: left;
  width: 256px;
  height: 256px;
  background-color: #81b3d2;
}

.reason-first-description-first {
  color: white;
  margin-top: 46px;
  margin-bottom: 12px;
}

.reason-first-description-first h2{
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 22px;
}

.reason-first-description-first span {
  position: relative;
  font-weight: normal;
}

.reason-first-description-first span::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #fff;
  left: -13px;
  top: 9px
}

.reason-first-description-first span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #fff;
  right: -13px;
  top: 9px
}

.reason-first-description-first p{
  display: block;
  margin-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.reason-first-picture {
  float: right;
}

.reason-first {
  margin-bottom: 47px;
}

.reason-first-container-second h3,
.reason-first-container-third h3,
.reason-first-container-fourth h3 {
  margin-top: 150px;
}

.reason-first-container-second p,
.reason-first-container-third p,
.reason-first-container-fourth p {
  padding-top: 5px;
  padding-left: 50px;
  padding-right: 50px;
}

.reason-first-description-fourth p {
  padding-left: 40px;
  padding-right: 40px;
}

.reason-first-description-second {
  float: left;
  width: 256px;
}

.reason-first-description-second,
.reason-first-description-third,
.reason-first-description-fourth{
  position: relative;
}

.reason-first-description-second::before {
  position: absolute;
  content: "";
  top: 52px;
  left: 35%;
  width: 75px;
  height: 72px;
  background-image: url("../img/house.png");
  background-repeat: no-repeat;
}

.reason-first-description-third::before {
  position: absolute;
  content: "";
  top: 52px;
  left: 35%;
  width: 74px;
  height: 70px;
  background-image: url("../img/eating.png");
  background-repeat: no-repeat;
}

.reason-first-description-fourth::before {
  position: absolute;
  content: "";
  top: 49px;
  left: 37%;
  width: 64px;
  height: 76px;
  background-image: url("../img/souvenirs.png");
  background-repeat: no-repeat;
}

.reason-first-description-third {
  float: left;
  width: 256px;
}

.reason-first-description-fourth {
  float: right;
  width: 256px;
}

.reason-second-picture-second {
  float: left;
  width: 512px;
  height: 256px;
}

.reason-second-description-second-background {
  float: right;
  width: 256px;
  height: 256px;
  background-color: #81b3d2;
}

.reason-second-description-second {
  color: white;
  margin-top: 46px;
  margin-bottom: 12px;
}

.reason-second-description-second h2{
  padding-left: 52px;
  padding-right: 52px;
  margin-bottom: 22px;
}

.reason-second-description-second span {
  position: relative;
  font-weight: normal;
}

.reason-second-description-second span::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #fff;
  left: -13px;
  top: 9px
}

.reason-second-description-second span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #fff;
  right: -13px;
  top: 9px
}

.reason-second-description-second p{
  display: block;
  margin-top: 20px;
  padding-left: 45px;
  padding-right: 45px;
}

.reason-third-fourth-fifth-container{
  height: 256px;
  background-color: #eeeeee;
}

.reason-third-description-third{
  float: left;
}

.reason-fourth-description-fourth {
  float: left;
}

.reason-fifth-description-fifth {
  float: right;
}

.reason-third-description-third,
.reason-fourth-description-fourth,
.reason-fifth-description-fifth  {
  width: 256px;
  margin-top: 28px;
  margin-bottom: 33px;
}

.reason-third-description-third h2,
.reason-fourth-description-fourth h2,
.reason-fifth-description-fifth h2 {
  padding-left: 52px;
  padding-right: 52px;
}

.reason-third-description-third span,
.reason-fourth-description-fourth span,
.reason-fifth-description-fifth span {
  display: block;
  margin-top: 23px;
}

.reason-third-description-third p,
.reason-fourth-description-fourth p,
.reason-fifth-description-fifth p {
  display: block;
  margin-top: 20px;
}

.reason-third-description-third p {
  padding-left: 40px;
  padding-right: 40px;
}

.reason-third-description-third span,
.reason-fourth-description-fourth span,
.reason-fifth-description-fifth span {
  position: relative;
  font-weight: normal;
}

.reason-third-description-third span::before,
.reason-fourth-description-fourth span::before,
.reason-fifth-description-fifth span::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #000;
  left: 104px;
  top: 12px
}

.reason-third-description-third span::after,
.reason-fourth-description-fourth span::after,
.reason-fifth-description-fifth span::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 1px;
  background-color: #000;
  right: 104px;
  top: 12px
}

.reason-fourth-description-fourth p {
  padding-left: 55px;
  padding-right: 55px;
}

.reason-fifth-description-fifth p {
  padding-left: 55px;
  padding-right: 55px;
}

.feedback-info h2 {
  font-size: 30px;
  line-height: 26px;
  margin-top: 55px;
  margin-bottom: 30px;
}

.feedback-info p {
  line-height: 24px;
  padding-left: 150px;
  padding-right: 150px;
}

.found-hotel-in-sedona-form {
  position: relative;
  width: 568px;
  margin-top: 46px;
  margin-left: auto;
  margin-right: auto;
  }

.found-hotel-in-sedona {
  width: 568px;
  height: 86px;
  font-size: 21px;
  line-height: 26px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #766357;
  border: none;
}

.block-search-variants {
  position: absolute;
  width: 459px;
  height: 395px;
  padding-left: 54px;
  padding-right: 55px;
  left: 0px;
  top: 86px;
  background-color: white;
  box-shadow: 0 7px 15px 0 rgba(0,0,0,.15);
}

.block-search-variants .date-input:hover,
.block-search-variants .date-output:hover,
.block-search-variants .adults:hover,
.block-search-variants .child:hover {
  background-color: #ebebeb;
}

.block-search-variants .date-input:active,
.block-search-variants .date-output:active,
.block-search-variants .adults:active,
.block-search-variants .child:active {
  background-color: #ffffff;
}

.block-date-input {
  position: relative;
  margin-top: 55px;
}

.block-date-output {
  position: relative;
  margin-top: 29px;
}

.block-date-input label,
.block-date-output label {
  padding-right: 19px;
}

.block-date-input input[type="text"],
.block-date-output input[type="text"] {
  height: 38px;
  width: 346px;
  font-size: 14px;
  line-height: 26px;
  box-sizing: border-box;
  text-transform: uppercase;
  padding-left: 16px;
  /*color: #666666;*/
  border: none;
  background-color: #f2f2f2;
  color: #000;
}

.block-date-output input[type="text"] {
  padding-left: 13px;
}

.calendar {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 0;
  width: 21px;
  height: 22px;
  background-image: url("../img/calendar_gray.png");
  background-repeat: no-repeat;
}

.calendar:hover {
  background-image: url("../img/calendar_black.png");
  background-repeat: no-repeat;
}

.calendar:active {
  background-image: url("../img/calendar_blue.png");
  background-repeat: no-repeat;
}

.block-adults,
.block-child {
  position: relative;
  display: inline-block;
  margin-top: 30px;
}

.block-child {
  margin-right: 40px;
}

.adults label,
.child label {
    display: inline-block;
    margin-bottom: 39px;
    margin-top: 7px;
    font-weight: 700;
}

.minus {
  position: absolute;
  left: 112px;
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  background-image: url("../img/mines_gray.png");
  background-repeat: no-repeat;
  background-position: center;
}

.minus:hover {
  background-image: url("../img/minus_black.png");
  background-repeat: no-repeat;
}

.minus:active {
  background-image: url("../img/minus_blue.png");
  background-repeat: no-repeat;
}

.minus-second {
  left: 63px;
  top: 0;
}

.adults, .child {
  text-align: center;
  width: 38px;
  height: 36px;
  margin-left: 75px;
  margin-right: 87px;
  background: #f2f2f2;
  border: 0;
  margin-bottom: 55px;
  font-family: inherit;
  font-weight: 700;
  line-height: 26px;
  color: #000;
}

.child {
    margin-right: 0;
    margin-left: 60px;
}

.plus {
    position: absolute;
    right: 49px;
    top: 0;
    background-color: #f2f2f2;
    background-image: url("../img/plus_gray.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 38px;
    height: 38px;
}

.plus:hover {
  background-image: url("../img/plus_black.png");
  background-repeat: no-repeat;
}

.plus:active {
  background-image: url("../img/plus_blue.png");
  background-repeat: no-repeat;
}

.plus-second {
  right: -38px;
}

.block-search-variants .found {
  display: block;
  width: 458px;
  height: 58px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  background-color: #81b3d2;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.block-search-variants .found:hover {
  background-color: #669ec0;
}

.block-search-variants .found:active {
  color: #94b9d2;
  background-color: #5496bd;
}

/* ВЫБОРА ОТЕЛЯ*/

.filter {
  height: 217px;
  background-image: url("../img/background_sedona_blurry.jpg");
  background-repeat: no-repeat;
  background-position: 0px -57px;
  color: #ffffff;
}

/* Позиционирование фильтров */

.infrastructure {
  float: left;
  width: 206px;
  vertical-align: middle;
  text-align: left;
  margin: 0;
  padding: 0;
  border: none;
}

.infrastructure {
  margin-left: 45px;
}

.filter .type-housing {
  float: left;
  width: 200px;
  vertical-align: middle;
  text-align: left;
  margin: 0;
  margin-left: 35px;
  padding: 0;
  border: none;
}

.filter-range {
  float: right;
  vertical-align: middle;
  text-align: left;
  margin: 0;
  margin-right: 45px;
  padding: 0;
  border: none;
}

/* фильтр инфраструктуры и типа жилья*/

.filter label {
  color: white;
  line-height: 20px;
  font-weight: normal;
}

.infrastructure,
.type-housing {
  padding-top: 3px;
}

.infrastructure-header,
.type-housing-header,
.filter-range-title {
  font-size: 16px;
  color: white;
  padding-top: 24px;
  padding-bottom: 20px;
}

.filter input[type=checkbox] {
    display: none;
}

.filter input[type=checkbox] + label {
  display: block;
  padding-bottom: 26px;
  padding-left: 41px;
  position: relative;
  cursor: pointer;
}

.filter input[type="checkbox"] + label::before {
   position: absolute;
   content: "";
   top: 50%;
   left: 50%;

   display: block;
   top: 0;
   left: 0;
   width: 26px;
   height: 22px;
   background-position: 0px 0px;
}

.filter input[type="checkbox"]:checked + label::before,
.filter input[type="checkbox"]:checked:hover + label::before {
  background-image: url("../img/chekbox_checked.png");
  background-repeat: no-repeat;
}

.filter input[type="checkbox"] + label::before,
.filter input[type="checkbox"]:hover + label::before {
  background-image: url("../img/chekbox_unchecked.png");
  background-repeat: no-repeat;
}

/** фильтр цены **/

.filter-range {
  width: 225px;
  margin-top: 10px;

  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  padding-top: 16px;
  padding-left: 3px;
  padding-bottom: 11px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;

  height: 32px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 32px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price {
  width: 70px;
  padding-left: 40px;
}

.price-controls .max-price {
  width: 80px;
  padding-left: 30px;
}

.price-controls input {
  width: 40px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-left: 4px;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0px;
}

.range-toggle-max {
  left: 70%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}

/* шапка поиска*/

.search-options-sorting {
  min-height: 86px;
  border-bottom: 1px solid #e5e5e5
}

.search-options-sorting h2 {
  float: left;
  vertical-align: top;
  margin-top: 32px;
  margin-left: 45px;
}

.search-options-sorting h3 {
  float: left;
  vertical-align: top;

  margin-top: 36px;
  margin-left: 49px;
}

.search-options-sorting ul {
  float: left;
  vertical-align: middle;

  margin-top: 31px;
}

.search-options-sorting li {
  display: inline-block;
  margin-right: 29px;
}

.search-options-sorting h3,
.search-options-sorting li a {
  font-size: 12px;
  line-height: 18px;
}

.search-options-sorting li a {
  text-decoration: none;
}

.search-options-sorting .cost {
  color: #81b3d2;
}

.search-options-sorting .type,
.search-options-sorting .rank {
  color: #cacaca;
  border-bottom: 1px dotted #81b3d2;
}

.search-options-sorting .cost {
  color: #81b3d2;
  border: none;
}

.search-options-sorting .type:hover,
.search-options-sorting .rank:hover {
  color: #81b3d2;
}

.search-options-sorting .type:active,
.search-options-sorting .rank:active {
  color: #000000;
  border: none;
}

.search-options-sorting .up-or-down {
  float: right;
  vertical-align: top;
}

.up-or-down a {
  display: inline-block;
  vertical-align: top;
  width: 11px;
  height: 10px;
  margin-left: 9px;
  margin-top: 40px;
}

.up-or-down .up {
  background-image: url("../img/arrow_up_gray.png");
  background-repeat: no-repeat;
}

.up-or-down .up:hover {
  background-image: url("../img/arrow_up_black.png");
  background-repeat: no-repeat;
}

.up-or-down .up:active {
  background-image: url("../img/arrow_up_blue.png");
  background-repeat: no-repeat;
}

.up-or-down .down {
  margin-top: 39px;
  margin-right: 45px;
  background-image: url("../img/arrow_down_blue.png");
  background-repeat: no-repeat;
}

.up-or-down .down:hover {
  background-image: url("../img/arrow_down_black.png");
  background-repeat: no-repeat;
}

.up-or-down .down:active {
  background-image: url("../img/arrow_down_blue.png");
  background-repeat: no-repeat;
}

/* отели */

.first-option,
.second-option,
.third-option {
  min-height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-picture {
  float: left;
  margin-top: 31px;
  margin-right: 31px;
  margin-left: 46px;
}

.hotel-description {
  float: left;
  margin-top: 26px;
  margin-right: 30px;
}

.hotel-rank {
  float: right;
  margin-top: 25px;
  margin-right: 30px;
}

.hotel-description h2 {
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 3px;
}

.hotel-description a {
  text-decoration: none;
  line-height: 21px;
  color: black;
}

.hotel-description a:hover {
  color: #81b3d2;
}

.hotel-description a:active {
  color: #cacaca;
}

.hotel-info,
.hotel-booking {
  float: left;
  text-align: left;
  width: 113px;
  padding: 0;
  margin-right: 2px;
}

.hotel-info .type-housing {
  display: inline-block;
  font-weight: normal;
  padding-bottom: 13px;
}

.hotel-info a {
  background-color: #81b3d2;
}

.hotel-booking .amount {
  display: inline-block;
  font-weight: normal;
  padding-top: 3px;
  padding-bottom: 13px;
}

.hotel-booking a {
  background-color: #766357;
}

.hotel-info a, .hotel-booking a {
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  padding-top: 4.5px;
  padding-bottom: 4.5px;
  padding-left: 17px;
  padding-right: 16px;
}

.hotel-rank .stars {
  margin-top: 4px;
  margin-right: 15px;
}

.stars span{
  display: inline-block;
  vertical-align: top;
  width: 19px;
  height: 17px;
  margin-left: 1px;
  background-image: url("../img/star.png");
  background-repeat: no-repeat;
}

.stars span:first-child {
  margin-left: 100px;
}

.hotel-rank .rank {
  display: inline-block;
  vertical-align: top;
  margin-top: 39px;
  font-weight: normal;
  background-color: #f2f2f2;
  padding: 1.5px 15px;
}

.first-option .rank {
  margin-left: 65px;
}

.second-option .rank {
  margin-left: 16px;
}

.third-option .rank {
  margin-left: 40px;
}

.hotel-info a:hover {
  color: white;
  background-color: #669ec0;
}

.hotel-info a:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.hotel-booking a:hover {
  color: white;
  background-color: #604e43;
}

.hotel-booking a:active {
  color: #928a85;
  background-color: #503e33;
}

/*Подвал*/

.footer-position {
  opacity: 0.9;
  margin-top: -128px;
}

.hash-tag {
  float: left;
  margin-left: 60px;
  margin-top: 46px;
}

.social {
  float: left;
  margin-left: 112px;
  margin-top: 35px;
}

.copyright {
  float: right;
  margin-top: 40px;
  margin-right: 30px;
  margin-bottom: 60px;
}

.hash-tag .text {
  text-decoration: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.copyright .text,
.copyright .link {
  display: inline-block;
  vertical-align: top;
}

.copyright .text {
  line-height: 26px;
  font-size: 14px;
  padding-top: 6px;
  padding-right: 5px;
}

.copyright .link {
  width: 113px;
  height: 39px;
  margin-top: 1px;
  font-size: 0;
  background-image: url("../img/logo_htmlacadamy_black.png");
  background-repeat: no-repeat;
}

.copyright .link:hover {
  background-image: url("../img/logo_htmlacadamy_blue.png");
  background-repeat: no-repeat;
}

.copyright .link:active {
  background-image: url("../img/logo_htmlacadamy_gray.png");
  background-repeat: no-repeat;
}

.social-btn {
    display: inline-block;
    width: 46px;
    height: 48px;
    margin-right: 3px;
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    background-color: #81b3d2;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.social-tw {
    background-image: url("../img/twitter.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-fb {
    background-image: url("../img/facebook.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.social-utube {
    background-image: url("../img/you_tube.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
